{% load static %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signin/css/style.css' %}">
    <title>Recuperação de senha</title>
</head>

<body>
    <img class="img-logo" src="{% static 'global/img/header-logo.png' %}" alt="" srcset="">
    <main>
           
            <section class="signin-container-forgot">  
               
    
                <form action="/forgotpass/" method="get">
                    {% csrf_token %}
                    <h3>Recuperação de Senha</h3>
                    <p>Digite seu email no campo abaixo e você receberá um código para recuperar sua senha. </p>
                    <input class="input-email" type="email" name="email" id="email" placeholder="ex:meuemail@gmail.com">
                    <button type="submit">Receber código</button>
                    <a href="{% url 'core:signin' %}">Voltar</a>
                </form>
            </section>    
    </main>
</body>

</html>