{% load static %}
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
<footer>
    <div>
        <p>+55 61 3961-5111</p>
        <p>Informações de endereço</p>
        <p>&copy; aerolicita/picos</p>
    </div>
    <div>
        <p>Plantão: 19hrs às 8hrs da manhã</p>
        <p>Politica de Privacidade</p>
    </div>
    <div>
        <p>Email da empresa</p>
        <p>Termos de adesão</p>
    </div>
    <div>
        <p>Instagram</p>
    </div>
    <div>
        <p>facebook</p>
    </div>
</footer>