* {
    margin: 0;
    padding: 0;
    color: auto
}

html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #111;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #576D6D;
    height: 4rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background: #A3F2EA;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header button {
    background: #A3F2EA;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}