* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #576D6D;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}