:root {
    --header-font: 'Roboto', sans-serif;
    --main-font: 'Saira Semi Condensed', sans-serif;
    --main-background-color: #00A473;
    --footer-background-color: #397F8B;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: auto;
}

html {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #111;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.box-column {
    display: flex;
    flex-direction: column;
}

.box-row {
    display: flex;
    flex-direction: row;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}


.items-start {
    display: flex;
    align-items: flex-start;
}

.items-center {
    display: flex;
    align-items: center;
}

.w-full {
    width: 100%;
}

.g-3 {
    gap: 6rem;
}


.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-black {
    color: #000;

}

.btn {
    width: 10rem;
    height: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    outline: none;
    align-self: center;
    transition: all .3s ease-in-out;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.red {
    background: #F33030;
    color: #fff;
}

.red:hover {
    background: #db2525;
    color: #fff;
}

.green {
    background: #00A473;
    color: #fff;
}

.green:hover {
    background: #008e6a;
    color: #fff;
}

.wrap {
    flex-wrap: wrap;
}

.gap-0 {
    gap: 0;
}

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.flex {
    display: flex;
}

.p-0 {
    padding: 0;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 4rem;

}

.border-1 {
    border: 1px solid #ccc;
}

.rounded-1 {
    border-radius: 1rem;
}

.rounded-1-2 {
    border-radius: .5rem;
}

.text-red {
    color: #F33030;
}

.line {
    width: 175%;
    height: 1px;
    background: #000;
}

.p-1 {
    padding: 1rem;
}

.w-25p {
    width: 25%;
}

.w-50p {
    width: 50%;
}

.w-75p {
    width: 75%;
}

.w-80p {
    width: 80%;
}

.text-s {
    font-size: .6rem;
}

.text-sm {
    font-size: .8rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-xl {
    font-size: 1.5rem;
}