.main-infos {
    font-weight: 100;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 0;
}

.info-container-pattern {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-background-color);
}

.infos-title-separator {
    width: 70%;
    height: 1px;
    background-color: var(--main-background-color);
    margin-bottom: 2rem;
}

.info-container-pattern h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.infos-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    font-size: 15pt;
    text-align: justify;
}

.infos-content img {
    width: 40%;
    height: auto;
}

.infos-content p {
    font-size: 1.2rem;
    font-weight: 100px;
    width: 50%;
    padding: 1rem;
}

.our-values-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1;
    height: auto;
}

.our-value {
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem 0;
}

.our-value img {
    width: 100px;
    height: auto;
}

.our-value p {
    width: auto;
    padding: 0;
    color: #111;
}

.bold {
    font-weight: 600;
    color: var(--main-background-color);
}

.left {
    width: 100%;
    height: auto;
}

.right {
    position: relative;
    align-self: flex-end;
    right: 0;
    width: 70%;
    height: auto;
}


@media screen and (min-width: 1025px) {
    .info-container-pattern h2 {
        font-size: 1.8rem;

    }

    .infos-content p {
        font-size: 1.5rem;
    }

    .our-value p {
        font-size: 1.5rem;
    }

    .our-value img {
        width: 10%;
    }
}

@media screen and (min-width: 1700px) {
    .info-container-pattern h2 {
        font-size: 2.4rem;

    }

    .infos-content p {
        font-size: 1.9rem;
    }

    .our-value p {
        font-size: 1.7rem;
    }

    .our-value img {
        width: 10%;
    }
}

@media screen and (max-width: 768px) {
    .info-container-pattern {
        width: 95%;
    }
}

@media screen and (max-width: 589px) {
    .infos-content {
        width: 100%;
        flex-direction: column;
    }

    .infos-content p {
        width: 90%;
    }

    .vision-container .infos-content {
        flex-direction: column-reverse;
    }

    .our-values-content {
        width: 90%;
        gap: 2rem
    }

    .right {
        width: 100%;
    }
}

@media screen and (max-width: 475px) {
    .our-value img {
        display: none;
    }
}