:root {
    --header-font: 'Roboto', sans-serif;
    --main-font: 'Saira Semi Condensed', sans-serif;
    --main-background-color: #00A473;
    --footer-background-color: #397F8B;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #263238;
}



main {
    font-family:var(--main-font);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin: auto;
}



.signin-container {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #C2E9DD1F;
    padding: 5rem;
    border-radius: 0.5rem;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

form input {
    width: 100%;
    height: 2.7rem;
    border-radius: 0.5rem;
    background-color: #EBEBEB;
    border: 1px solid #27DEBF;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}

form input:focus {
    border: none;
    outline: orange 2px solid;
}

form input::placeholder {
    color: #0000004F;
}

form button {
    width: 50%;
    height: 2.7rem;
    border-radius: 0.5rem;
    border: none;
    background: #00A473;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    background: #22C694;
}

form a {
    color: #ffffff9e;
    text-decoration: underline;
}

/* Estilo da pagina de recuperar senha */

.signin-container-forgot{
    width: 60rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #C2E9DD1F;
    padding: 5rem;
    border-radius: 0.5rem;
}

.img-close{
    align-items: flex-end;
    justify-content: end;
}

.close{
    list-style: none;
}


.signin-container-forgot h3{
    color: #fff;
    font-size: 20pt;
    margin: 0;
}
.signin-container-forgot p{
    font-family:var(--header-font);
    color: #fff;
    font-size: 14pt;
    font-weight: 500px;
    margin-bottom: 20px;
}

.signin-container-forgot a{
    color: #ffffff9e;
    font-family:var(--header-font);
    font-size: 14pt;

}


@media screen and (max-width:590px) {
    .signin-container {
        width: 90%;
        height: 100%;
        padding: 2rem;
    }

    form button {
        width: 100%;
        padding: 0 1rem;
    }
}