<div class="search-container">
    <form action="" method="post">
        {% csrf_token %}
        <label for="origin">
            Origem
            <input type="text" name="origin" id="" placeholder="Picos, PI">
        </label>
        <label for="destination">
            Destino
            <input type="text" name="destination" id="" placeholder="Brasilia, DF">
        </label>
        <label for="">
            Mês de Ida
            <input type="date" name="" id="" placeholder="Mês de Ida" today>
        </label>
        <label for="">
            Mês de volta
            <input type="date" name="" id="" placeholder="Mês de Volta">
        </label>
        <button>Buscar</button>
    </form>
</div>