main {
    font-family: var(--main-font);
}

.main-tickets {
    width: 100%;
    min-height: calc(100vh - 7rem);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 3rem 0;
}

.main-tickets img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.presentation {
    font-size: 3rem;
    font-weight: 300;
    color: #FFFFFF;
    z-index: 1;
    width: 50%;
    text-align: center;
    -webkit-text-stroke: transparent
}

.not-logged-description {
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 3px var(--main-background-color);
}

.tickets-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    z-index: 1;
    padding: 2rem 0;
}

.ticket {
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 3rem;
    color: var(--main-background-color);
}

.values-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0
}

.ticket-value {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.2rem;

}

.ticket button {
    background: var(--main-background-color);
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.ticket button:hover {
    background: #00A473;
}

.ticket button a {
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 848px) {
    .main-tickets {
        background: var(--main-background-color);
    }

    .presentation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .not-logged-description {
        font-size: 3rem;
        font-weight: 900;
        -webkit-text-stroke: transparent;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .info-container-pattern {
        width: 95%;
    }
}

@media screen and (max-width: 589px) {
    .main-tickets img {
        display: none;
    }

    .presentation {
        padding: 0;
        width: 100%;
    }

    .presentation * {
        width: 100%;
        font-size: 2rem;
        color: white;
    }

    .presentation p {
        width: 100%;
    }

    .not-logged-description {
        width: 100%;
        color: white;
        -webkit-text-stroke: 0 transparent;
    }

    .not-logged-description span {
        width: 100%;
        font-size: 2rem;
        color: white;
    }
}

@media screen and (max-width: 475px) {
    .ticket {
        margin: 0 .5rem
    }

    .our-value img {
        display: none;
    }
}