{% load static %}
<section class="contact-us">
    <h2>Entre em contato conosco</h2>
    <p>Agende sua viagem com a AeoroLicita</p>
    <div class="contact-us-content">
        <img src="{% static 'home/img/cardContato.png' %}">
        <form action={% url 'core:sendquestion' %} method="POST">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            {{ form }}
        <button type="submit">Enviar</button> 
        </form>
    </div>
</section>




