* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    display: flex;
    display: column;
    gap: 0;
    min-height: 100vh;
}

header {
    background: #263238;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.profile {
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    border-radius: 10rem;
    cursor: pointer;
}

.profile i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #263238;
    font-size: 1.5rem;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 0
}

.side-menu {
    height: 100%;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #186A52;
    overflow: hidden;
}

.side-menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4rem 0;
}

.side-menu ul li {
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.side-menu ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    color: #fff;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.side-menu ul li:hover {
    background: #00A473;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 13rem);
    height: 100%;
    padding: 3rem;
    overflow: hidden;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--main-background-color);
    margin: 1rem 0;
    margin-bottom: 2rem
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.search-container form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-container form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    width: 12rem;
}

.search-container form input {
    width: 10rem;
    height: 3rem;
    padding: 0 1rem;
    border-radius: .5rem;
    border: 1px solid var(--main-background-color);
    outline: none;
    font-size: 1rem;
}

.search-container form button {
    width: 9rem;
    height: 3rem;
    border: none;
    outline: none;
    background: #263238;
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer
}

footer {
    height: 3rem;
}

/* Table without side borders */

tr:last-child td {
    border-bottom: none
}

th,
td {
    text-align: center;
}

th {
    padding: .5rem;
    background: fff;
    border: 1px solid #186A52;
    border-top: none;
    margin-bottom: .5rem;
}

tr th:first-child {
    border-left: none
}

tr th:last-child {
    border-right: none
}

td {
    border: 1px solid #186A52;
    background: #C2E9DD1F;
    color: #186A52;
}

tr td:last-child {
    border-right: none
}

tr td:first-child {
    border-left: none
}

.reserve-button {
    border: none;
    outline: none;
    background: #00A473;
    cursor: pointer;
    width: 100%;
    height: 3rem;
}

.reserve-button a {
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background: #3616160F;
}

.request-fly-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem 0;
}

.request-fly-list button {
    width: 12rem;
    height: 3rem;
    border: none;
    outline: none;
    background: var(--main-background-color);
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.request-fly-list button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}