{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <script src="https://kit.fontawesome.com/ce9220c6d4.js" crossorigin="anonymous"></script>
    <title>Admin</title>
</head>

<body>
    <header>
        <img src="{% static 'global/img/header-logo.png' %}" alt="AeroLicita">
        <div class="profile"><i class="fa-solid fa-user"></i></div>
    </header>

    <main>
        <section class="side-menu">
            <ul>
                <li><a href={% url 'core:homepage' %}>Tela Inicial</a></li>
                <li><a href="#">Cadastrar Viagem</a></li>
                <li><a href="#">Passagens Reservadas</a></li>
                <li><a href="#">Relátorios</a></li>
                <li><a href="#">Cadastrar Viagem</a></li>
            </ul>
        </section>
        <section class="main-content">
            <h2>Passagens disponíveis</h2>
            <div class="separator"></div>

            <table>
                <tr>
                    <th>Nome/Empresa</th>
                    <th>Data</th>
                    <th>Rota</th>
                    <th>Partida</th>
                    <th>Chegada</th>
                    <th>Valor c. cotação</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>

                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.company }}</td>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.route }}</td>
                    <td>{{ ticket.departure }}</td>
                    <td>{{ ticket.arrival }}</td>
                    <td>{{ ticket.value }}</td>
                    <td>{{ ticket.quantity }}</td>
                    <td>
                        <button class="reserve-button">
                            <a href="#">Reservar</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </main>

    {% include 'global/includes/footer.html' %}
</body>

</html>