{% load static %}
<section class="main-tickets">
    <img src="{% static 'home/img/first_image.png' %}">
    <div class="presentation">
        <p>
                Viage com conforto, reserve sua passagem com a <span style="font-weight: bold;">AeroLicita!</span>
        </p>
    </div>
    <div class="tickets-container">
        <div class="ticket">
            <h2>Nome/Logo da empresa</h2>
            <div class="values-container">
                <div class="ticket-value">
                    <p>Valor da ida:</p>
                    <p>R$ 150,00</p>
                </div>
                <div class="ticket-value">
                    <p>Valor da volta:</p>
                    <p>R$ 250,00</p>
                </div>
            </div>
            
            <button>
                <a href="#">Agendar</a>
            </button>

        </div>
        <div class="ticket">
            <h2>Nome/Logo da empresa</h2>
            <div class="values-container">
                <div class="ticket-value">
                    <p>Valor da ida:</p>
                    <p>R$ 150,00</p>
                </div>
                <div class="ticket-value">
                    <p>Valor da volta:</p>
                    <p>R$ 250,00</p>
                </div>
            </div>
           
            <button>
                <a href="#">Agendar</a>
            </button>
         
        </div>
        <div class="ticket">
            <h2>Nome/Logo da empresa</h2>
            <div class="values-container">
                <div class="ticket-value">
                    <p>Valor da ida:</p>
                    <p>R$ 150,00</p>
                </div>
                <div class="ticket-value">
                    <p>Valor da volta:</p>
                    <p>R$ 250,00</p>
                </div>
            </div>
            <button>
                <a href="#">Agendar</a>
            </button>
        </div>
    </div>
</section>